<div class="ui container">
  <div class="ui menu">
    {{#link-to "index" class="item"}}Home{{/link-to}}
    {{#link-to "project" class="item"}}Projects{{/link-to}}
    {{#link-to "developer" class="item"}}Developers{{/link-to}}
  </div>
  {{outlet}}
</div>