<h2 class="ui header">Developers</h2>
{{#link-to "developers.new" class="ui button orange"}}Add new developer...{{/link-to}}
<table class="ui single line table">
  <thead>
  <tr>
    <th>Identity</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |developer|}}
    <tr>
      <td>
        {{developer.identity}}
        {{#link-to "developers.edit" developer.id class="circular ui icon button"}}
          <i class="icon pencil alternate"></i>
        {{/link-to}}
        {{#link-to "developers.delete" developer.id class="circular ui icon button"}}
          <i class="icon delete alternate"></i>
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{outlet}}