<div class="ui message">
  <i class="large icones">
    <i class="user icon"></i>
    <i class="inverted corner add icon"></i>
  </i>
  <div class="header">Developer</div>
  <p>Édition d'un développeur</p>
</div>
<form class="ui form">
  <div class="field">
    <label for="identity">Identity</label>
    {{input id="identity" value=model.identity}}
  </div>
</form>
<div class="ui segment">
  <a {{action "save" model}} class="ui position button">Valider</a>
  {{#link-to "developer" class="ui position button"}}Annuler{{/link-to}}
</div>
{{outlet}}